<%= decidim_form_for(@form, url: setting_path(id: params[:id]), method: :patch, html: { class: "form-defaults form edit_setting" }) do |form| %>
  <div class="form__wrapper"
       data-controller="chatbot-settings"
       data-chatbot-settings-components-url-value="<%= components_setting_path(id: params[:id]) %>"
       data-chatbot-settings-workflow-fields-url-value="<%= workflow_fields_setting_path(id: params[:id]) %>"
       data-chatbot-settings-loading-text-value="<%= t('.loading') %>"
       data-chatbot-settings-select-space-first-text-value="<%= t('.select_space_first') %>">

    <div class="card pt-4">
      <div class="card-section">
        <div class="row column">
          <%= form.select :start_workflow,
              @form.available_workflows,
              { label: t(".current_workflow", provider: provider) },
              { data: { action: "change->chatbot-settings#changeWorkflow" } } %>
        </div>
      </div>
    </div>

    <div data-chatbot-settings-target="workflowConfig">
      <%= render partial: "workflow_config", locals: {
        workflow_manifest: @workflow_manifest,
        workflow_display_name: @form.workflow_display_name,
        form: form,
        setting_form: @form,
        config: @form.config
      } %>
    </div>

    <div class="card pt-4">
      <div class="card-section">
        <div class="row column">
          <%= form.check_box :enabled, label: t(".enabled") %>
        </div>
      </div>
    </div>

    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= form.submit t(".save"), class: "button button__sm button__secondary" %>
        <%= link_to t(".cancel"), settings_path, class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>
<% end %>
